@model Bangazon.Models.Order

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName) @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCompleted)
        </dt>

        @if (Model.DateCompleted != null)
        {
            <dd class="col-sm-10">

                @Html.DisplayFor(model => model.DateCompleted)
            </dd>

        }
        else
        {
            <dd class="col-sm-10">In Process</dd>

        }

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentType)
        </dt>

        @if (Model.PaymentType != null)
        {
    <dd class="col-sm-10">

        @Html.DisplayFor(model => model.PaymentType.Description)
        @Html.DisplayFor(model => model.PaymentType.AccountNumber)
    </dd>

        }
        else
        {
            <dd class="col-sm-10">Not Posted</dd>

        }
        <dt class="col-sm-2">
            Products
        </dt>
        <dd class="col-sm-10">
            @foreach (var LineItem in Model.OrderProducts)
            {
                @Html.DisplayFor(item => LineItem.Product.Title)<br>
            }
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OrderId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
