@model Bangazon.Models.Order

@{
    ViewData["Title"] = "Cart";
}

<h1>Details</h1>

<div>
    <h4>Order @Model.OrderId</h4>
    @if (Model.DateCompleted == null) { 

    @Html.ActionLink("Cancel Order", "Delete", new { id = Model.OrderId })
        }
    <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateCreated)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateCreated)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateCompleted)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateCompleted) 
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PaymentType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PaymentType.AccountNumber)
            </dd>
        </dl>
        <dl>
            <h5>Products</h5>
            @if (Model.OrderProducts != null)
            {
                @foreach (var product in Model.OrderProducts)
                {
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(modelItem => product.Product.Title)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(modelItem => product.Product.Title)
                    </dd>
                    @if (Model.DateCompleted == null)
                    {
                        <button asp-action="DELETE" asp-route-id="@Model.OrderId">Remove Product</button>
                    }

                }
            }

    </dl>


</div>

